.app-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	border: 1px solid #ebebeb;
}

.app-bar .logo img {
	width: 50px;
	border-radius: 50%;
}

.app-bar .info p {
	font-size: 1.1rem;
	font-weight: bold;
}

.app-bar .info a {
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	color: var(--app-color);
}
