.Todo {
	padding: 0.5rem 1rem;
}

.Todo .todo-container {
	display: flex;
	align-items: center;
}

.Todo .todo-container span {
	cursor: pointer;
}

.Todo .todo-container .text {
	position: relative;
	flex: 1;
	margin: 0 10px;
	cursor: pointer;
}

.Todo .todo-container .text span {
	font-size: 0.8rem;
	color: #bebebe;
}

.Todo .todo-container .text .line {
	height: 1px;
	background: #bebebe;
	position: absolute;
	top: 25%;
	width: 0;
	transition: width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
	width: 100%;
}

.Todo .todo-container .add-to-next-day {
	margin-right: 10px;
}
